
/* styles for profile page */
.main-section{
    border:1px black;
    background-color: white;
    }
    .profile-header{
    background-color: #056b5b;
    height:150px;
    }
    .user-detail{
    margin:-50px 0px 30px 0px;
    }
    .user-detail img{
    height:100px;
    width:100px;
    }
    .user-detail h5{
    margin:15px 0px 5px 0px;
    }
    .user-social-detail{
    padding:15px 0px;
    display: inline-block;
    margin-right: 1em;
    }
    
    .user-social-detail a i{
    color:black;
    font-size:23px;
    padding: 0px 5px;
    }
    
    
    
    .fa-twitter {
        background: #55ACEE;
        color: white;
      }
    
    
    .fa-github{
        background: white;
        color: black;
    
    }  
    
    .fa-slack{
        background: white;
        color:black;
    }