



/* @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)  */

    
    /* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #056b5b;
    color: white;
    text-align: center;
    width: 50%;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
    width: 100vh;
    height: 100%;
}

h3{
    text-align: center;
    color: #056b5b;
}


.sign-up{
    text-align: center;
}



button {
    background-color: #056b5b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #056b5b;
    padding-top: 50px;
}


.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}


.psw{
    text-align: center;
}



@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {}



